
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-logo">
          <svg>
            <use xlink:href="images/sprite.svg#logo-white"></use>
          </svg>
        </div>
      </div>
      <div class="col-lg-6 col-md-7 offset-lg-1 offset-md-2">
        <div class="footer-nav">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Road Map</a></li>
            <li><a href="#">Privacy Police</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Press</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-12">
        <div class="social"><a class="social-link" href="#"><img src="images/facebook.svg" alt=""/></a><a class="social-link" href="#"><img src="images/linkedin.svg" alt=""/></a></div>
      </div>
      <div class="col-md-12">
        <div class="copyright">© 2019 Cvault. All rights Reserved.</div>
      </div>
    </div>
  </div>
</footer>