footer
	.container
		.row
			.col-md-3
				.footer-logo
					svg
						use(xlink:href="images/sprite.svg#logo-white")

			.col-lg-6.col-md-7.offset-lg-1.offset-md-2
				.footer-nav
					ul
						li: a(href="#") About Us
						li: a(href="#") Road Map
						li: a(href="#") Privacy Police
						li: a(href="#") Services
						li: a(href="#") Contacts
						li: a(href="#") Sitemap
						li: a(href="#") Press

			.col-lg-2.col-md-12
				.social
					a(href="#").social-link: img(src="images/facebook.svg", alt="")
					a(href="#").social-link: img(src="images/linkedin.svg", alt="")

			.col-md-12
				.copyright © 2019 Cvault. All rights Reserved.