meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' , content='IE=edge')
meta(name='viewport' , content='width=device-width , initial-scale=1')
meta(name='description' , content='')
meta(name='keywords' , content='')
title index
link(rel='icon' , href='favicon.ico' type='image/x-icon')
link(rel='stylesheet' , href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' , integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' , crossorigin='anonymous')

link(rel='stylesheet' , href='css/slick-theme.css')
link(rel='stylesheet' , href='css/slick.css')
link(rel='stylesheet' , href='css/magnific-popup.css')
link(rel='stylesheet' , href='css/style.css')
//if lt IE 9
	script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
	script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')