doctype html
html(lang='en')
	head
		include elements/head.pug
	body
		
		// Header start
		include elements/header.pug
		
		// Main page start
		main

			.intro.inner-intro
				.container
					.row

						.col-12
							h1 Contacts

			section.contacts-info
				.container
					.row
						.col-md-8
							.map
								iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.091828791559!2d14.510139115264698!3d35.895766580144894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130e452cbabd129b%3A0xeed49116b520ff28!2zNjAsIDIgTWVsaXRhIFN0LCBWYWxsZXR0YSwg0JzQsNC70YzRgtCw!5e0!3m2!1suk!2sua!4v1569843298503!5m2!1suk!2sua"  , width="100%" , height="450" , frameborder="0" , style="border:0;" , allowfullscreen="")

						.col-md-4
							.info
								img(src="images/logo-small.svg", alt="").contacts-logo

								p
									span Address
									|60/2 Melita street, Valletta, Malta
								p
									span Phone
									|+356 2205 6200

								p
									span E-mail
									a(href="mailto: infp@cvault.co") info@cvault.co


		// Footer start
		include elements/footer.pug

		// jQuery & Bootstrap scripts
		include elements/scripts.pug