doctype html
html(lang='en')
	head
		include elements/head.pug
	body
		
		// Header start
		include elements/header.pug
		
		// Main page start
		main

			.intro.inner-intro
				.container
					.row

						.col-12
							h1 F.A.Q.

			section.faq
				.container
					#faqAccordion.panel-group
						
						.panel.panel-default
							.panel-heading.accordion-toggle.question-toggle.collapsed(data-toggle='collapse' data-parent='#faqAccordion' data-target='#question0')
								h4.panel-title How can I make an order?
							#question0.panel-collapse.collapse
								.panel-body Order button next to the service you want to purchase and leave your contacts in a follow-up form. We will get in touch with you shortly to clarify all the details.

						.panel.panel-default
							.panel-heading.accordion-toggle.question-toggle.collapsed(data-toggle='collapse' data-parent='#faqAccordion' data-target='#question1')
								h4.panel-title What if I don’t know what plan I need?
							#question1.panel-collapse.collapse
								.panel-body Click Order button next to the service you want to purchase and leave your contacts in a follow-up form. We will get in touch with you shortly to clarify all the details.

						.panel.panel-default
							.panel-heading.accordion-toggle.question-toggle.collapsed(data-toggle='collapse' data-parent='#faqAccordion' data-target='#question2')
								h4.panel-title What payment options do you provide for clients?
							#question2.panel-collapse.collapse
								.panel-body Click Order button next to the service you want to purchase and leave your contacts in a follow-up form. We will get in touch with you shortly to clarify all the details.

						.panel.panel-default
							.panel-heading.accordion-toggle.question-toggle.collapsed(data-toggle='collapse' data-parent='#faqAccordion' data-target='#question3')
								h4.panel-title Do you have a money back guarantee?
							#question3.panel-collapse.collapse
								.panel-body Click Order button next to the service you want to purchase and leave your contacts in a follow-up form. We will get in touch with you shortly to clarify all the details.

						.panel.panel-default
							.panel-heading.accordion-toggle.question-toggle.collapsed(data-toggle='collapse' data-parent='#faqAccordion' data-target='#question4')
								h4.panel-title How can I change my plan?
							#question4.panel-collapse.collapse
								.panel-body Click Order button next to the service you want to purchase and leave your contacts in a follow-up form. We will get in touch with you shortly to clarify all the details.

						.panel.panel-default
							.panel-heading.accordion-toggle.question-toggle.collapsed(data-toggle='collapse' data-parent='#faqAccordion' data-target='#question5')
								h4.panel-title How can I change my plan?
							#question5.panel-collapse.collapse
								.panel-body Click Order button next to the service you want to purchase and leave your contacts in a follow-up form. We will get in touch with you shortly to clarify all the details.


		// Footer start
		include elements/footer.pug

		// jQuery & Bootstrap scripts
		include elements/scripts.pug