doctype html
html(lang='en')
	head
		include elements/head.pug
	body
		
		// Header start
		include elements/header.pug
		
		// Main page start
		main
			.intro
				.container
					.row

						//.col-12
							h1 Company Tittle
							p We can execute even the most unpredictable ideas!
							a(href="#services").secondary-btn Our Services

						.col-md-8.text-left
							h3 We can execute even the most <br> unpredictable ideas!
							a(href="#").secondary-btn.fill Get Free Account

							p <a href="#">№ FRK000118</a> - Provider of a service of exchanging a virtual currency against a fiat currency
							p <a href="#">№ FVR000139</a> - Provider of a virtual currency wallet service

						.col-md-4
							.mockup
								img(src="images/phone-mockup.png", alt="")

				video(loop muted autoplay poster='bg/daisy-stock-poster.jpg').bg-video
					source(src='video/bg-video.mp4' type='video/mp4')
					source(src='video/bg-video.webm' type='video/webm')

				.bottom-intro
					.container
						p some content

			section#services.services
				.container
					.row
						.col-12.mb-5.pb-5
							h2 Our Services
							p.text-center We deliver all kind of services that support small and micro businesses.

						.col-md-6
							.service-item.bg-color
								a(href="#")
									.service-icon
										svg
											use(xlink:href="images/sprite.svg#wallet-setup")
									h5 Cold Crypto Wallets Setup

						.col-md-6
							.service-item
								a(href="#")
									.service-icon
										svg
											use(xlink:href="images/sprite.svg#bitcoin3")
									h5 Cold Wallets Storage

						.col-md-6
							.service-item
								a(href="#")
									.service-icon
										svg
											use(xlink:href="images/sprite.svg#browser-3")
									h5 Active Virtual Financial Asset Management (Full Control)

						.col-md-6
							.service-item.bg-color
								a(href="#")
									.service-icon
										svg
											use(xlink:href="images/sprite.svg#bitcoin2")
									h5 Exchange of the Virtual Financial Assets with Professional Trading Venue VFA class 4

			section.about
				.container-fluid
					.row
						.col-lg-4.col-md-6
							.about-item
								.about-icon
									svg
										use(xlink:href="images/sprite.svg#idea")
								h4 Professional Team
								p All members of our team are professional participants in the financial market licensed by the central bank

						.col-lg-4.col-md-6
							.about-item
								.about-icon
									svg
										use(xlink:href="images/sprite.svg#bitcoin2")
								h4 Management Experience
								p We have experience in asset management of private clients for more than 200 million euros 

						.col-lg-4.col-md-12
							.about-item
								.about-icon
									svg
										use(xlink:href="images/sprite.svg#bitcoin2")
								h4 Benefit Tittle
								p We have experience in asset management of private clients for more than 200 million euros

			section.partners
				.container

					.row
						.col-12
							h2 Key Partners

						.partners-logo
							.wrap-logo
								img(src="images/TuricumLogo1.jpg", alt="")
							.wrap-logo
								img(src="images/cc-logo.png", alt="")
							.wrap-logo
								img(src="images/pwc.png", alt="")
							.wrap-logo
								img(src="images/dentos.png", alt="")
							.wrap-logo
								img(src="images/TuricumLogo1.jpg", alt="")

			section.timeline
				.container
					.row
						.col-12
							h2 Road Map

						.col-md-10.offset-md-1.col-sm-12.col-12
							
							.wrap-timeline
								
								.timeline-item
									.timeline-date
										img(src="images/Aug.png", alt="")
									.timeline-desc
										p Application for vfa class 2 license

								.timeline-item
									.timeline-date
										img(src="images/Nov.png", alt="")
									.timeline-desc
										p Office opening in Russia

								.timeline-item
									.timeline-date
										img(src="images/Feb.png", alt="")
									.timeline-desc
										p Office opening in Russia

								.timeline-item
									.timeline-date
										img(src="images/March.png", alt="")
									.timeline-desc
										p Customer pre-orders

								.timeline-item
									.timeline-date
										img(src="images/May.png", alt="")
									.timeline-desc
										p Obtaining a license and accepting money into accounts

								.timeline-item
									.timeline-date
										img(src="images/end.png", alt="")
									.timeline-desc
										p Brunch opening in the EU

			section.team
				.container
					.row
						.col-12
							h2 Our Team

						.col-md-3
							.team-item
								.team-img
									img(src="images/team-img.jpeg", alt="")
								.team-detail
									h3 Andrew Shimmer
									p Position

						.col-md-3
							.team-item
								.team-img
									img(src="images/team-img-2.jpeg", alt="")
								.team-detail
									h3 Ann Maisner
									p Position

						.col-md-3
							.team-item
								.team-img
									img(src="images/team-img.jpeg", alt="")
								.team-detail
									h3 Andrew Shimmer
									p Position

						.col-md-3
							.team-item
								.team-img
									img(src="images/team-img-2.jpeg", alt="")
								.team-detail
									h3 Ann Maisner
									p Position

						.col-12.text-center.mt-5
							a(href="#").secondary-btn.fill More

			section.question
				.container-fluid
					.row
						.col-md-6
							.question-cover
								img(src="images/form-img.jpg", alt="")

						.col-md-6
							.title-form
								h2 Have a Questions?
								p Complete the form below and our manager will contact you within 1 hour!

							form.question-form
								.form-field
									label Name*
									input(type="text")

								.form-field
									label E-mail*
									input(type="text")

								.form-field
									label Phone number
									input(type="text")

								.form-field
									label Message*
									input(type="text")

								.form-field
									button(type="submit") Send

		// Footer start
		include elements/footer.pug

		// jQuery & Bootstrap scripts
		include elements/scripts.pug