doctype html
html(lang='en')
	head
		include elements/head.pug
	body
		
		// Header start
		include elements/header.pug
		
		// Main page start
		main

			.intro.inner-intro
				.container
					.row

						.col-12
							h1 Cold Crypto Wallets Setup

			section.text-section
				.container
					.row.align-items
						.col-md-5
							img(src="images/post-img-1.jpeg", alt="")

						.col-md-7
							h5 We provide a wide range of services to meet even the most daring requirements.
							p Our Company was established in 1989 by two enthusiastic brothers eager to start their own business and to get noticed by the whole world. Now we are one of the country’s best places to work and grow professionally. Our business is built on understanding and long-term relations with clients. To survive in today's competitive and ever-changing business world, every business has to operate efficiently, grow, and succeed. It is very important to properly use the information and technology to stay rival within your market. We can help you push the boundaries and achieve the results you have planned.


		// Footer start
		include elements/footer.pug

		// jQuery & Bootstrap scripts
		include elements/scripts.pug