doctype html
html(lang='en')
	head
		include elements/head.pug
	- var blog_inner = true
	body(class=blog_inner ? 'blog-inner' : 'default')
		
		// Header start
		include elements/header.pug
		
		// Main page start
		main

			section.blog-detail
				.post-full
					.post-full-banner: img(src="images/post-img-1.jpeg", alt="")

					.container
						.row
							.col-md-8.offset-md-2
								.full-title
									p SEPTEMBER 22, 2018
									h1 How to Increase Profits in Retail Business with Our New Product?
								p Browse through the best advice on how to find the right person you need.
								p Need some smart advice? Hiring the right person is always a daunting task for any employer. Hiring the wrong person will cost you significant business loss and waste of time. And vice versa, employing the right worker will increase your business productivity, improve relationships within your staff, and finally will add a positive power to the whole work environment. This means that hiring the right person you make a smart investment in your business without wasting your precious time and money. We are glad to offer you not a complete guide but a few key advice to help you make wise decisions. Here are some tips on how to hire an excellent workforce

								h3 1. Make a Detailed Job Analysis
								p Before hiring the employee you need, you have to make a deep job analysis (also called job profile) considering all the details.
									This will empower you to consider the job's duties, needful skills, responsibilities, and work culture. This deep analysis will give you a full picture of who you want to see as your future employee for some specific job. You can also write a job plan as another option of the job description. It will help you develop the right recruiting strategy to find the right employee.
								img(src="images/post-detail.jpeg")
								p You can also write a job plan as another option of the job description. It will help you develop the right recruiting strategy to find the right employee.

								h3 2. Prescreen Your Applicants
								p The most substantial motive to prescreen the applicants while hiring a worker is to save time on the interviewing. Whereas the applicant may seem satisfactory on paper, the prescreening interview may tell you if his or her experience really meets your job requirements.
								img(src="images/post-detail-2.jpeg")
								p Besides, while a prescreening interview, you can define whether your job fits with the applicant's salary expectations. A qualified phone interviewer can also determine whether the applicant fits your working environment.


		// Footer start
		include elements/footer.pug

		// jQuery & Bootstrap scripts
		include elements/scripts.pug