doctype html
html(lang='en')
	head
		include elements/head.pug
	body
		
		// Header start
		include elements/header.pug
		
		// Main page start
		main

			.intro.inner-intro
				.container
					.row

						.col-12
							h1 Press

			section.blog
				.container
					.row
						.col-lg-7
							.post.height-100
								.post-img: img(src="images/post-img-1.jpeg", alt="")
								.post-title
									a(href="press-detail.html") How to Increase Profits in Retail Business with Our New Product?
									span 20 hrs ago

						.col-lg-5
							.row
								.col-lg-12.col-md-6
									.post.height-50
										.post-img: img(src="images/post-img-2.jpeg", alt="")
										.post-title
											a(href="press-detail.html") How to Increase Profits in Retail Business with Our New Product?
											span 20 hrs ago

								.col-lg-12.col-md-6
									.post.height-50
										.post-img: img(src="images/post-img-3.jpeg", alt="")
										.post-title
											a(href="press-detail.html") How to Increase Profits in Retail Business with Our New Product?
											span 20 hrs ago

						.col-md-6
							.post.height-70
								.post-img: img(src="images/post-img-4.jpeg", alt="")
								.post-title
									a(href="press-detail.html") How to Increase Profits in Retail Business with Our New Product?
									span 20 hrs ago

						.col-md-6
							.post.height-70
								.post-img: img(src="images/post-img-5.jpeg", alt="")
								.post-title
									a(href="press-detail.html") How to Increase Profits in Retail Business with Our New Product?
									span 20 hrs ago


		// Footer start
		include elements/footer.pug

		// jQuery & Bootstrap scripts
		include elements/scripts.pug