doctype html
html(lang='en')
	head
		include elements/head.pug
	body
		
		// Header start
		include elements/header.pug
		
		// Main page start
		main

			.intro.inner-intro
				.container
					.row

						.col-12
							h1 Services

			section#services.services
				.container

					.service-row
						.row
							.col-md-4
								.service-icon
									svg
										use(xlink:href="images/sprite.svg#wallet-setup")
							.col-md-8
								h5 Cold Crypto Wallets Setup
								p Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads. Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads.

					.service-row
						.row
							.col-md-4
								.service-icon
									svg
										use(xlink:href="images/sprite.svg#bitcoin3")
							.col-md-8
								h5 Cold Wallets Storage
								p Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads. Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads.

					.service-row
						.row
							.col-md-4
								.service-icon
									svg
										use(xlink:href="images/sprite.svg#browser-3")
							.col-md-8
								h5 Active Virtual Financial Asset Management (Full Control)
								p Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads. Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads.

					.service-row
						.row
							.col-md-4
								.service-icon
									svg
										use(xlink:href="images/sprite.svg#bitcoin2")
							.col-md-8
								h5 Exchange of the Virtual Financial Assets with Professional Trading Venue VFA class 4
								p Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads. Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads.


		// Footer start
		include elements/footer.pug

		// jQuery & Bootstrap scripts
		include elements/scripts.pug