doctype html
html(lang='en')
	head
		include elements/head.pug
	body
		
		// Header start
		include elements/header.pug
		
		// Main page start
		main

			.intro.inner-intro.service-intro
				.container
					.row

						.col-12
							h1 Cold Crypto Wallets Setup

			section.about-service
				.container

					.row.align-items
						.col-lg-8.col-md-6
							p Our team consists of highly motivated and skilled specialists who know how to deal with any issue that you may come across. This creates a basis for lasting relationships with our clients built on trust and mutual understanding. We are proud of working with each of our partners as they gave us enough support to become one of the leading companies. Here’s a short list of those who have already seen the quality of our services in practice:
							a(href="#").secondary-btn.reverse-color Get Product
							a(href="#").secondary-btn.fill.dark Contact Us

						.col-lg-4.col-md-6
							.preview-video
								.preview-img
								a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").play-button

			section.product-examples
				.container
					.row
						.col-12
							h2 Product examples

					.row
						.col-12
							.item-examples

							.item-examples
			
			section.licences
				.container
					.row
						.col-12
							h2.mb-5 Our Licences
							p.text-center We deliver all kind of services that support small and micro businesses.

						.col-12
							.custom-row.mt-5
								.item-custom
									figure: a(href="#")
									h5: a(href="#") License 1

								.item-custom
									figure: a(href="#")
									h5: a(href="#") License 2

								.item-custom
									figure: a(href="#")
									h5: a(href="#") License 3

								.item-custom
									figure: a(href="#")
									h5: a(href="#") License 4

								.item-custom
									figure: a(href="#")
									h5: a(href="#") License 5


			section.documents
				.container
					.row
						.col-12
							h2.mb-3 Documents

						.col-12
							.custom-row.mt-5
								.item-custom
									figure
										a(href="#")
											svg
												use(xlink:href="images/sprite.svg#icon-file")
									
									h5: a(href="#") Document-name.pdf

								.item-custom
									figure
										a(href="#")
											svg
												use(xlink:href="images/sprite.svg#icon-file")

									h5: a(href="#") Document-name.pdf

								.item-custom
									figure
										a(href="#")
											svg
												use(xlink:href="images/sprite.svg#icon-file")

									h5: a(href="#") Document-name.pdf

								.item-custom
									figure
										a(href="#")
											svg
												use(xlink:href="images/sprite.svg#icon-file")

									h5: a(href="#") Document-name.pdf

								.item-custom
									figure
										a(href="#")
											svg
												use(xlink:href="images/sprite.svg#icon-file")

									h5: a(href="#") Document-name.pdf

			section.partners
				.container
					.row
						.col-12
							h2 Key Partners

						.partners-logo
							.wrap-logo
								img(src="images/TuricumLogo1.jpg", alt="")
							.wrap-logo
								img(src="images/cc-logo.png", alt="")
							.wrap-logo
								img(src="images/pwc.png", alt="")
							.wrap-logo
								img(src="images/dentos.png", alt="")
							.wrap-logo
								img(src="images/TuricumLogo1.jpg", alt="")


		// Footer start
		include elements/footer.pug

		// jQuery & Bootstrap scripts
		include elements/scripts.pug