@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

@font-face {
  font-family: 'LemonMilk';
  src: url('../fonts/LemonMilk.eot');
  src: url('../fonts/LemonMilk.eot?#iefix') format('embedded-opentype'),
       url('../fonts/LemonMilk.svg#LemonMilk') format('svg'),
       url('../fonts/LemonMilk.ttf') format('truetype'),
       url('../fonts/LemonMilk.woff') format('woff'),
       url('../fonts/LemonMilk.woff2') format('woff2');
  	font-weight: normal;
	font-style: normal;
}

	* {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		min-height: 100%;
		position: relative;
		background-color: #fff;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-style: normal;
		color: #353535;
		font-size: 16px;
		line-height: 1.3;
		-webkit-text-size-adjust: none;
		-ms-overflow-x: hidden;
		    overflow-x: hidden;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
		blockquote:before, blockquote:after, q:before, q:after {
			content: '';
			content: none;
		}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	img {
		max-width: 100%;
		border: none;
	}
	a {
		-webkit-transition: all .3s ease-in-out;
		   -moz-transition: all .3s ease-in-out;
		    -ms-transition: all .3s ease-in-out;
		     -o-transition: all .3s ease-in-out;
		        transition: all .3s ease-in-out;
	}
	a:hover , a:active , a:focus {
		text-decoration: none;
	}
	a:focus , input:focus , textarea:focus {
		outline: none;
	}
	html {
		height: 100%;
	}
	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

// Header

header {
	padding: 20px 0;
	position: absolute;
    z-index: 3;
    width: 100%;
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    
	.navbar {
		padding: 0;
			a {
				font-size: 16px;
				margin: 5px 0;
				color: #FFF;
				z-index: 2;
    			position: relative;
					&:hover {
						color: #4C6386;
					}
			}
			a[href^="tel:"] {
					display: inline-block;
					line-height: 40px;
					margin: 0 -15px;
					padding: 0 18px;
					font-size: 16px;
					-webkit-border-radius: 40px;
					        border-radius: 40px;
					border: 1px solid #fff;
						&:hover {
							background: #FFF;
							color: #4C6386;
						}
				}
	}

	.navbar-brand {
		-webkit-transition: none;
		   -moz-transition: none;
		    -ms-transition: none;
		     -o-transition: none;
		        transition: none;
	}

	.navbar-nav {
		-webkit-align-items: center;
		        align-items: center;
		li {
			margin: 0 15px;
			position: relative;
				&:last-child {
					a {
						width: 46px;
						height: 40px;
						display: inline-block;
						background: #FFF;
						text-align: center;
						line-height: 46px;
						-webkit-border-radius: 40px;
						        border-radius: 40px;
					}
					svg {
						width: 20px;
						height: 20px;
						fill: #142843;
					}
				}
		}
	}
	
	.logo {
		svg {
			width: 170px;
			height: 60px;
			fill: #fff;
		}
	}

	&.fixed {
		padding: 0;
		position: fixed;
		background: #FFF;
		z-index: 3;
			.logo svg {
				fill: #132436;
			}
			.navbar a {
				color: #000;
					&.current-lang {
						border-left: 1px solid #000;
							&:after {
								border-top: 5px solid #000;
							}
					}
					&[href^="tel:"] {
						border-color: #000;
					}

			}

			.navbar li {
				&:last-child {
					a {
						background: #000;
							svg {
								fill: #fff;
							}
					}
				}
			}

			.navbar-toggler {
				span {
					background: #000;
				}
			}
	}

	a.current-lang {
			font-family: 'Roboto';
			padding: 12px 24px 12px 19px;
		    font-size: 14px;
		    line-height: 1.2;
		    position: relative;
		    border-left: 1px solid #fff;
		    	&:after {
		    		content: "";
		    		position: absolute;
		    		top: 18px;
		    		right: 12px;
		    		width: 0;
		    		height: 0;
		    		border-top: 5px solid #fff;
		    		border-left: 4px solid transparent;
		    		border-right: 4px solid transparent;
		    		-webkit-transition: all .3s ease;
		    		   -moz-transition: all .3s ease;
		    		    -ms-transition: all .3s ease;
		    		     -o-transition: all .3s ease;
		    		        transition: all .3s ease;
		    	}
		    &:hover {
		    	&:after {
		    		border-top: 5px solid #4C6386;
		    	}
		    }
		}

	&.inner {
		padding: 5px 0 0 0;
		background: #1F2938;
			&.fixed {
				background: #fff;
			}
	}

}

.lang-responsive {
	display: none;
	color: #f7f7f7;
		span {
			margin: 0 3px;
		}
		li {
			display: inline-block;
			vertical-align: top;
		}
		.current-lang {
			border: none;
			padding-left: 0;
				.figure {
		    		content: "";
		    		position: absolute;
		    		top: 18px;
		    		right: 12px;
		    		width: 0;
		    		height: 0;
		    		border-top: 5px solid #fff;
		    		border-left: 4px solid transparent;
		    		border-right: 4px solid transparent;
		    		-webkit-transition: all .3s ease;
		    		   -moz-transition: all .3s ease;
		    		    -ms-transition: all .3s ease;
		    		     -o-transition: all .3s ease;
		    		        transition: all .3s ease;
		    	}
				&:hover {
					color: #FFF;
				}
		}
}

.navbar-toggler {
	display: inline-block;
	width: 30px;
	line-height: .1;
	font-size: 16px;
	padding: 0;
	border: none;
	outline: none;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
		span {
			width: 100%;
			height: 2px;
			background: #FFF;
			display: inline-block;
			-webkit-transition: all .3s ease;
			   -moz-transition: all .3s ease;
			    -ms-transition: all .3s ease;
			     -o-transition: all .3s ease;
			        transition: all .3s ease;
		}

		&:focus, &:active {
			outline: none;
		}

		&:hover {
			opacity: .7;
		}

		&.open {
			span:nth-child(1) {
				-webkit-transform: rotate(-45deg) translate(-10px , 10px);
				   -moz-transform: rotate(-45deg) translate(-10px , 10px);
				    -ms-transform: rotate(-45deg) translate(-10px , 10px);
				     -o-transform: rotate(-45deg) translate(-10px , 10px);
				        transform: rotate(-45deg) translate(-10px , 5px);
			}

			span:nth-child(2) {
				opacity: 0;
			}

			span:nth-child(3) {
				-webkit-transform: rotate(45deg) translate(-5px , 1px);
				   -moz-transform: rotate(45deg) translate(-5px , 1px);
				    -ms-transform: rotate(45deg) translate(-5px , 1px);
				     -o-transform: rotate(45deg) translate(-5px , 1px);
				        transform: rotate(45deg) translate(-5px , 1px);
			}
		}

}

.blog-inner {
	header {
		background: #1F2938;
			&.fixed {
				background: #FFF;
			}
	}
}

.bg-video {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Main

main {
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
}

.intro {
	height: 850px;
	position: relative;
	text-align: center;
	font-size: 18px;
	line-height: 1.78;
	color: #fff;
	background: url(../images/header-bg.jpg) center top no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	overflow: hidden;
	
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			//background: rgba(19, 36, 54, .9);
			background: rgb(30,40,57);
			background: linear-gradient(100deg, rgba(30,40,57,0.95) 0%, rgba(32,43,67,0.88) 100%);
		}

		.container {
			height: 100%;
			position: relative;
			z-index: 2;
		}

		.row {
			height: 100%;
			-webkit-align-items: center;
			        align-items: center;
		}

		h1 {
			margin-bottom: 30px;
		}

		h3 {
			font-size: 27px;
			font-weight: 400;
		}

		p {
			font-weight: 400;
			font-size: 16px;
			color: #C5CCDE;
				a {
					text-decoration: underline;
					color: #fff;
						&:hover {
							text-decoration: none;
						}
				}
		}

		.secondary-btn {
			margin-bottom: 70px;
		}

	&.inner-intro {
		height: 470px;
		padding-top: 120px;
		background: url(../images/bg-2.jpg) center -100px no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
			h1 {
				font-size: 46px;
			}
		&:after {
			background: rgba(31, 41, 56, .7);
		}
	}

	&.service-intro {
		background: url(../images/service-intro.jpg) center center no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		&:after {
			background: rgba(31, 41, 56, .5);
		}
	}

}

	.bottom-intro {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 130px;
		background: #f7f7f7;
		z-index: 1;
	}

	.bottom-intro .row {
    margin: 0;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }

  .info-item {
    padding: 35px 0;
    text-align: left;
  }

    .info-item svg {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin: -5px 0 0 0;
    }

    .info-item p {
      font-size: 19px;
      color: #343434;
    }

    .info-item:nth-child(2) {
      background: #f2f2f2;
      margin-right: 90px;
      margin-left: 90px;
      padding: 35px 45px;
    }

    p.info-item-title {
      font-size: 16px;
      text-transform: uppercase;
    }

      p.info-item-title {
        font-weight: bold;
        margin-bottom: 5px;
      }

      .info-item-title span {
        margin-left: 15px;
      }

	.mockup {
		margin-top: 120px;
	}

	h1 {
		font-size: 70px;
		font-family: 'LemonMilk';
	}

	.secondary-btn {
		font-family: 'Roboto';
		display: inline-block;
		border: 2px solid #fff;
		-webkit-border-radius: 34px;
		        border-radius: 34px;
		margin-top: 30px;
		padding: 16px 32px;
		color: #FFF;
    	font-size: 16px;
    	line-height: 1.2;
    	
			&:hover {
				background: #FFF;
				color: #353535;
			}

			&.reverse-color {
				border-color: #353535;
				color: #353535;
					&:hover {
						background: #353535;
						color: #fff;
					}
			}

			&.fill {
				background: #FFF;
				color: #000;
					&.dark {
						background: #000;
						color: #fff;
					}
			}

	}

	h2 {
		margin-bottom: 50px;
		text-align: center;
		font-family: 'LemonMilk';
		font-size: 46px;
		line-height: 60px;
		color: #132436;
	}

.services {
	padding-top: 140px;
    padding-bottom: 165px;
    background: url(../images/bg-services2.jpg) center top no-repeat;
    -webkit-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
}

	.about-service {
		padding: 70px 0;
		line-height: 35px;
		
			.secondary-btn {
				margin-right: 15px;
			}

	}

		.preview-video {
			width: 324px;
			height: 324px;
			margin: 0 auto;
			position: relative;
		}

			.preview-img {
				height: 100%;
				background: #f3f3f3;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
			}

			.play-button {
				width: 64px;
				height: 64px;
				background: #F01D50;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				position: absolute;
				left: 0;
				bottom: 40px;
					&:after {
						content: "";
						position: absolute;
						left: 50%;
						top: 50%;
						margin-left: -8px;
						margin-top: -10px;
						width: 0;
						height: 0;
						border-top: 10px solid transparent;
						border-left: 17px solid #fff;
						border-bottom: 10px solid transparent;
					}
			}

	.service-item {
		text-align: center;
		font-size: 20px;
		margin: 15px 0;
		padding: 75px 30px;
			&.bg-color {
				background: #f7f7f7;
			}
			a {
				color: #000;
			}
	}

		.service-icon {
			margin-bottom: 20px;
			svg {
				width: 100px;
				height: 100px;
			}
		}

		.service-row {
			margin-bottom: 80px;
			font-size: 16px;
			line-height: 24px;
			.service-icon {
				text-align: center;
				svg {
					width: 135px;
					height: 135px;
				}
			}
			h5 {
				font-size: 28px;
				line-height: 44px;
			}
			.row {
				-webkit-align-items: center;
				        align-items: center;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}

.about {
	background: url(../images/bg-2.jpg) center top fixed no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	text-align: center;
	color: #FFF;
	position: relative;
	padding-top: 90px;
    padding-bottom: 95px;
	
		.container-fluid {
			position: relative;
			z-index: 2;
		}
	
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(19, 36, 54, .9);
		}

		&-item {
			padding-left: 75px;
    		padding-right: 75px;
		}

		&-icon {
			margin-bottom: 20px;
				svg {
					width: 100px;
					height: 100px;
				}
		}

		h4 {
			margin-bottom: 20px;
		}

}

.partners {
	padding-top: 150px;
    padding-bottom: 125px;
    border-bottom: 1px solid #f7f7f7;
    
		&-logo {
			width: 100%;
			margin-top: 60px;
			display: flex;
			-webkit-align-items: center;
			        align-items: center;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
		}

		.wrap-logo {
			width: 100%;
			max-width: 310px;
			text-align: center;
			img {
				max-height: 70px;
				object-fit: cover;
    			object-position: 50% 50%;
    			display: inline;
			}
		}

}

.slick-prev:before, .slick-next:before {
	color: #000;
}

.question {
	background: #f7f7f7;
	
	&-cover {
		height: 100%;
		img {
			object-fit: cover;
		    width: 100%;
		    height: 100%;
		    object-position: 100% 50%;
		}
	}
	
	&-form {
		width: 100%;
		max-width: 570px;
		margin: 0 auto;
		
			.form-field {
				margin-bottom: 24px;
			}

			label {
				display: block;
				font-size: 16px;
			}

			input {
				display: block;
				width: 100%;
				height: 40px;
				margin-top: 10px;
				padding-left: 20px;
				background: hsla(0,0%,40.4%,.2);
				-webkit-border-radius: 25px;
				        border-radius: 25px;
			}

			button[type="submit"] {
				width: 100%;
				height: 40px;
				margin-top: 40px;
				font-family: 'Roboto';
				font-size: 14px;
				color: #FFF;
				background:  #132436;
				-webkit-border-radius: 25px;
				        border-radius: 25px;
			}

	}

}

	.title-form {
		margin-bottom: 30px;
		padding-top: 60px;
		text-align: center;
		font-size: 18px;
			h2 {
				margin-bottom: 30px;
			}
	}


footer {
	padding-top: 80px;
    padding-bottom: 30px;
    border-top: 1px solid #f7f7f7;
}

	.footer-logo {
		svg {
			width: 170px;
			height: 60px;
			fill: #132436;
		}
	}

	.footer-nav {
		font-size: 16px;
		ul {
			margin: 0;
			column-count: 3;
				li {
					margin-bottom: 10px;
				}
		}
		a {
			color: #353535;
				&:hover {
					color: #4C6386;
				}
		}
	}

	.social {
		font-size: 20px;
		text-align: right;
	}

		.social-link {
			margin-right: 15px;
			img {
				width: 30px;
				height: 30px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	
	.copyright {
		margin-top: 50px;
		font-size: 14px;
		color: #4C4C4C;
	}

.timeline {
	padding: 100px 0 150px 0;
	background: url(../images/bg-services2.jpg) center top no-repeat;
    -webkit-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
}

	.wrap-timeline {
		margin-top: 100px;
		position: relative;
			&:after {
				content: "";
				position: absolute;
				top: 3%;
				left: 100px;
				width: 4px;
				height: 94%;
				background: #000;
				z-index: 1;
			}
	}

		.timeline-item {
			margin-bottom: 30px;
			padding: 15px 40px;
			display: flex;
			-webkit-align-items: center;
			        align-items: center;
			.timeline-date {
				width: 100%;
				max-width: 120px;
				height: 120px;
				margin-right: 50px;
				z-index: 2;
			}

			.timeline-desc {
				font-size: 22px;
			}

			&:nth-child(2n+2) {
				background: #f7f7f7;
			}
		}

.team {
	padding: 150px 0;
	background: #132436;
	color: #fff;
	
		h2 {
			color: #fff;
		}

		&-item {
			margin-top: 40px;
			text-align: center;
			font-size: 16px;
				h3 {
					font-size: 24px;
					margin-bottom: 30px;
				}
		}

		&-img {
			margin-bottom: 30px;
			height: 150px;
				img {
					object-fit: cover;
    				height: 100%;
				}
		}

}

.blog {
	padding: 170px 0;
}

	.post {
		position: relative;
		margin-bottom: 30px;
			&-img {
				img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
			}
			&-title {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				padding: 20px;
				background: rgba(0,0,0, 0.2);
				font-size: 16px;
				color: #FFF;
					a {
						text-decoration: underline;
						font-size: 24px;
						line-height: 34px;
						color: #FFF;
					}
					span {
						display: block;
						margin-top: 20px;
					}
			}

		&.height-100 {
			.post-img {
				height: 650px;
			}
		}

		&.height-70 {
			.post-img {
				height: 380px;
			}
		}

		&.height-50 {
			.post-img {
				height: 310px;
			}
		}

	}

.contacts-info {
	padding: 120px 0;
}

	.info {
		font-size: 18px;
		span {
			font-size: 16px;
			display: block;
			margin-bottom: 8px;
		}
		p {
			margin-bottom: 30px;
		}
		a {
			color: #353535;
		}
	}

	.contacts-logo {
		width: 87px;
		height: 100px;
		margin-bottom: 70px;
	}

	#googleMap {
		width: 100%;
		height: 300px;
	}

.faq {
	padding-top: 75px;
    padding-bottom: 110px;
}

.panel-heading {
	margin-top: 30px;
	padding: 15px 35px 15px 15px;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    
    	&:after , &:before {
    		content: "";
    		position: absolute;
    		width: 20px;
    		height: 3px;
    		background: #000;
    		right: 15px;
    		top: 30px;
    		-webkit-transition: all .3s ease;
    		   -moz-transition: all .3s ease;
    		    -ms-transition: all .3s ease;
    		     -o-transition: all .3s ease;
    		        transition: all .3s ease;
    	}
    	&:before {
    		-webkit-transform: rotate(-90deg);
    		   -moz-transform: rotate(-90deg);
    		    -ms-transform: rotate(-90deg);
    		     -o-transform: rotate(-90deg);
    		        transform: rotate(-90deg);
    	}

    	
    	&.open {
    		&:after {
    			-webkit-transform: rotate(45deg);
    			   -moz-transform: rotate(45deg);
    			    -ms-transform: rotate(45deg);
    			     -o-transform: rotate(45deg);
    			        transform: rotate(45deg);
    		}
    		&:before {
    			-webkit-transform: rotate(-45deg);
    			   -moz-transform: rotate(-45deg);
    			    -ms-transform: rotate(-45deg);
    			     -o-transform: rotate(-45deg);
    			        transform: rotate(-45deg);
    		}
    	}
}

	.panel-collapse {
		padding: 15px 35px 15px 15px;
	}

.text-section {
	padding: 120px 0;
	font-size: 16px;
		h5 {
			font-size: 18px;
			margin-bottom: 30px;
		}
}

.align-items {
	-webkit-align-items: center;
	        align-items: center;
}

// Blog detail
.blog-detail {
	padding-top: 89px;
}

	.post-full {
		margin-bottom: 100px;
		font-size: 16px;
		line-height: 24px;
		color: #353535;
		&-banner {
			img {
				width: 100%;
				object-fit: cover;
				max-height: 70vh;
			}
		}
		h3 {
			font-size: 24px;
			line-height: 34px;
			color: #353535;
			margin: 30px 0 15px 0;
		}
		img + p {
			margin-top: 15px;
		}
	}

	.full-title {
		margin-top: 55px;
		font-size: 14px;
		color: #4C4C4C;
			p {
				margin-bottom: 5px;
			}
			h1 {
				font-size: 45px;
				line-height: 60px;
				color: #353535;
			}
			& + p {
				font-size: 18px;
			}
	}

// Dropdown
header .dropdown-menu {
	top: calc(100% + 15px);
	padding: 15px 25px 15px 40px;
	border: 1px solid #F3F3F3;
    border-radius: 3px;
    	a {
    		margin-top: 0;
    		margin-bottom: 15px;
    		position: relative;
    		padding: 0;
    		color: #000;
    			&:hover {
    				color: #4C6386;
    				background: transparent;
    			}
    			&:after {
    				content: "";
    				position: absolute;
    				left: -20px;
    				top: 50%;
    				margin-top: -3px;
    				width: 6px;
    				height: 6px;
    				border: 2px solid #ddd;
    				-webkit-border-radius: 50%;
    				        border-radius: 50%;
    			}
    			&:last-child {
    				margin-bottom: 0;
    			}
    	}

    	&.lang {
    		li {
    			margin: 0;
    				&:last-child {
    					a {
    						margin-bottom: 0;
    					}
    				}
    		}
    		a {
    			margin: 0 0 15px 0;
    			display: inline-block;
    				&:last-child {
    					width: auto;
    					height: auto;
    					line-height: 1.3;
    					background: transparent;
    					-webkit-border-radius: 0;
    					        border-radius: 0;
    					background: transparent !important;
    				}
    		}
    	}
}

.dropdown-toggle::after {
	position: relative;
    top: 3px;
    right: -3px;
}


// Service page
.product-examples {
	padding: 70px 0;
}

	.item-examples {
		height: 380px;
		background: #f3f3f3;
		margin-bottom: 50px;
	}

.licences , .documents {
	padding: 70px 0;
}

	.custom-row {
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
			
			.item-custom {
				margin: 0 12px 30px 0;
				text-align: center;
				width: 210px;
				/*max-width: calc(86% / 5);
				-webkit-flex: 0 0 calc(100% / 5);
				    -ms-flex: 0 0 calc(100% / 5);
				        flex: 0 0 calc(100% / 5);*/
				
				figure {
					height: 150px;
					background: #f3f3f3;
						a {
							display: block;
							height: 100%;
						}
				}

				a {
					color: #000;
				}

			}
	}

.documents {
	background: #f7f7f7;
	
		.item-custom {
			figure {
				width: 97px;
				height: 112px;
				position: relative;
				margin: 0 auto 30px auto;
				background: transparent;
				border: 1px solid #bbbbbb;
				
					svg {
						width: 40px;
						height: 40px;
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: -20px;
						margin-left: -20px;
					}

			}

			h5 {
				font-size: 16px;
			}
		}

}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

// Responsive media query
@media screen and (max-width: 992px) {

	header.open {
		.navbar-nav {
			-webkit-align-items: flex-start;
			        align-items: flex-start;
		}
		.navbar-toggler {
			right: 15px;
			top: 10px;
			left: auto;
		}
		.navbar-nav .dropdown-menu {
			margin: 13px 0;
			padding-left: 25px;
			display: block !important;
			background: transparent;
			border: none;
				a {
					font-size: 16px;
				}
		}
		.lang-responsive {
			display: block;
			position: absolute;
			top: 20px;
			left: 30px;
		}
	}
	
	.intro {
		height: auto;
		padding: 60px 0 50px 0;
	}

		h1 {
			font-size: 50px;
		}

		.navbar-toggler {
			position: absolute;
		}

	.navbar-collapse {
		position: fixed;
	    width: 100%;
	    height: 100% !important;
	    left: 0px;
	    top: 0px;
	    background: url(../images/bg-responsive-nav.jpg) center top no-repeat;
	    -webkit-background-size: cover;
	         -o-background-size: cover;
	            background-size: cover;
	    -webkit-transition: all .3s ease;
	       -moz-transition: all .3s ease;
	        -ms-transition: all .3s ease;
	         -o-transition: all .3s ease;
	            transition: all .3s ease;
	    
	    	.navbar-nav {
	    		li {
	    			margin-bottom: 30px;
	    			&.dropdown {
	    				margin-bottom: 10px;
	    			}
	    		}
	    		padding: 0 15px;
	    		margin-top: 200px;
	    		a {
	    			font-size: 20px;
	    			color: #FFF;
	    		}
	    	}
	    
			li {
				margin: 10px 0;
					&:nth-child(5) {
						display: none;
					}
					&:nth-child(6) , &:last-child {
						display: block;
					    position: absolute;
					    top: 120px;
					}
					&:nth-child(6) {
						left: 50%;
    					margin-left: -100px;
					}
					&:last-child {
						top: 117px;
						left: 50%;
    					margin-left: 90px;
					}
			}

	}

	header.fixed.open {
		.navbar a {
			color: #FFF;
		}
		.logo svg {
			fill: #fff;
		}
		.navbar-toggler span {
			background: #FFF;
		}
	}

	h2 {
		font-size: 37px;
	}

	.partners-logo {
		margin-top: 0;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	    
		.wrap-logo {
			margin: 30px 0;
		}

	}

	.social {
		text-align: center;
		margin: 30px 0;
	}

	.dropdown-toggle {
		/*pointer-events: none;
    	cursor: default;*/
    		&:after {
    			display: none;
    		}
    		.current-lang:after {
    			display: block;
    		}
	}

	.mockup {
        position: relative;
        top: -60px;
    }

}

@media screen and (max-width: 768px) {

	.intro {
		padding: 164px 0 50px 0;
	}
	
	h1 {
		font-size: 30px;
	}

	.services , .partners {
		padding: 40px 0;
	}

	.about-item {
		margin-bottom: 40px;
	}

		.about-icon svg , .service-icon svg {
			width: 70px;
			height: 70px;
		}

	footer {
		text-align: center;
	}

		.footer-nav ul {
			margin-top: 30px;
			column-count: 1;
		}

	.partners .wrap-logo {
		max-width: 100%;
	}

	.timeline-item {
		.timeline-date {
			max-width: 70px;
			height: 70px;
		}
	}

		.wrap-timeline:after {
			left: 74px;
		}

	.team-img {
		height: 250px;
	}

	.info {
		margin-top: 30px;
	}

	.intro.inner-intro {
		h1 {
			font-size: 28px;
		}
	}

	.text-section {
		h5 {
			margin-top: 30px;
		}
	}

	.preview-video {
		margin: 70px auto 0 auto;
	}

	.custom-row {
		-webkit-justify-content: space-around;
		        justify-content: space-around;
	}

	.bottom-intro .row {
      -webkit-justify-content: space-between;
              justify-content: space-between;
    }

    .info-item:nth-child(2) {
      margin: 0;
    }

}

@media screen and (max-width: 576px) {
	
	.navbar-toggler {
		left: 15px;
		top: 22px;
	}

	h2 {
		font-size: 28px;
	}

	.full-title {
		h1 {
			font-size: 28px;
			line-height: 36px;
		}
	}

	.post-full {
		h3 {
			font-size: 19px;
			line-height: 27px;
		}
	}

}

@media screen and (max-width: 520px) {
  
  .bottom-intro {
    display: none;
  }

}


@media screen and (max-width: 480px) {

	.slick-next {
		right: 15px;
	}

	.slick-prev {
		left: 15px;
	}

}